* {
    font-family: Arial, Helvetica, sans-serif;
}

.Title {
    text-align: center;
    font-size: 50px;
    color: #325453;
}

.ContentWrapper {
    background-color: #DCBE87;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media all and (min-width: 768px) {
    .Content {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (min-width: 1024px) {
    .Content {
        margin-left: 10%;
        margin-right: 10%;
    }
}