

.ShelvesTitle {
    text-align: center; 
    /* font-weight: 500;  */
    text-transform: capitalize;
    color: #F3EBE1;
}

.Bookshelves {
    --tw-bg-opacity: 1; 
    background-color: #517174; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 5px;
}